html,
body {
  margin: 0;
  padding: 0;
}

body > * {
  padding: 16px;
}

header {
  text-align: center;
  background: linear-gradient(#999, #333);
}

header img {
  width: 64px;
  height: 64px;
  vertical-align: bottom;
}

header h1 {
  font-size: 24px;
  font-family: 'Times New Roman';
  color: #FFF;
  text-shadow: 0 3px #000;
  letter-spacing: 1px;
}

nav {
  text-align: center;
  background: #333;
}

nav a {
  font: bold 12px Verdana;
  color: #FFF;
  padding: 6px 9px;
  text-decoration: none;
  outline: 0;
}

nav a:not(:last-child) {
  margin-right: 18px;
}

nav a:hover,
nav a:focus,
#current {
  border-bottom: 2px solid;
}

main {
  font: 13px Arial;
  color: #333;
}

main a {
  color: inherit;
}

footer {
  display: flex;
  align-items: center;
  background: #333;
}

[title$="Twitter"] {
  margin-left: 6px;
  margin-right: 6px;
}

footer img {
  display: block;
  width: 20px;
  height: 20px;
}

span {
  margin-left: auto;
  font: 16px Arial;
  color: #FFF;
}

span a {
  color: inherit;
  text-decoration: none;
}